<div style="text-align: right; height: 15px; width: 675px; overflow: visible; white-space: nowrap; display: inherit;" class="wysiwyg_viewer_skins_dropmenu_TextOnlyMenuNSkinddm1-itemsContainer" skinpart="itemsContainer">
								<div state="selected" listposition="left" container="menu" class="wysiwyg_viewer_skins_dropmenubutton_TextOnlyMenuButtonNSkinddm1 " skin="wysiwyg.viewer.skins.dropmenubutton.TextOnlyMenuButtonNSkin" styleid="ddm1" style="visibility: visible; position: relative;" id="MnBttn1-gr4" dataquery="#c161y" comp="core.components.MenuButton" skinpart="repeaterButton">
									<div class="wysiwyg_viewer_skins_dropmenubutton_TextOnlyMenuButtonNSkinddm1-c-gapper">
										<div style="padding: 0px 28px;" skinpart="bg">
											<p style="line-height: 15px; width: auto;" class="wysiwyg_viewer_skins_dropmenubutton_TextOnlyMenuButtonNSkinddm1-label" skinpart="label">ГЛАВНАЯ</p>
										</div>
									</div>
								</div>
								<div state="" listposition="center" container="menu" class="wysiwyg_viewer_skins_dropmenubutton_TextOnlyMenuButtonNSkinddm1 " skin="wysiwyg.viewer.skins.dropmenubutton.TextOnlyMenuButtonNSkin" styleid="ddm1" style="visibility: visible; position: relative;" id="MnBttn2-xa6" dataquery="#mainPage" comp="core.components.MenuButton" skinpart="repeaterButton">
									<div class="wysiwyg_viewer_skins_dropmenubutton_TextOnlyMenuButtonNSkinddm1-c-gapper">
										<div style="padding: 0px 7px;" skinpart="bg">
											<p style="line-height: 15px; width: auto;" class="wysiwyg_viewer_skins_dropmenubutton_TextOnlyMenuButtonNSkinddm1-label" skinpart="label">ПРЕДЛОЖЕНИЕ</p>
										</div>
									</div>
								</div>
								<div state="" listposition="center" container="menu" class="wysiwyg_viewer_skins_dropmenubutton_TextOnlyMenuButtonNSkinddm1 " skin="wysiwyg.viewer.skins.dropmenubutton.TextOnlyMenuButtonNSkin" styleid="ddm1" style="visibility: visible; position: relative;" id="MnBttn3-vbt" dataquery="#c158d" comp="core.components.MenuButton" skinpart="repeaterButton">
									<div class="wysiwyg_viewer_skins_dropmenubutton_TextOnlyMenuButtonNSkinddm1-c-gapper">
										<div style="padding: 0px 35px 0px 34px;" skinpart="bg">
											<p style="line-height: 15px; width: auto;" class="wysiwyg_viewer_skins_dropmenubutton_TextOnlyMenuButtonNSkinddm1-label" skinpart="label">ОБЕДЫ</p>
										</div>
									</div>
								</div>
								<div state="" listposition="center" container="menu" class="wysiwyg_viewer_skins_dropmenubutton_TextOnlyMenuButtonNSkinddm1 " skin="wysiwyg.viewer.skins.dropmenubutton.TextOnlyMenuButtonNSkin" styleid="ddm1" style="visibility: visible; position: relative;" id="MnBttn4-c86" dataquery="#c1b5" comp="core.components.MenuButton" skinpart="repeaterButton">
									<div class="wysiwyg_viewer_skins_dropmenubutton_TextOnlyMenuButtonNSkinddm1-c-gapper">
										<div style="padding: 0px 24px 0px 23px;" skinpart="bg">
											<p style="line-height: 15px; width: auto;" class="wysiwyg_viewer_skins_dropmenubutton_TextOnlyMenuButtonNSkinddm1-label" skinpart="label">ФУРШЕТЫ</p>
										</div>
									</div>
								</div>
								<div state="" listposition="right" container="menu" class="wysiwyg_viewer_skins_dropmenubutton_TextOnlyMenuButtonNSkinddm1 " skin="wysiwyg.viewer.skins.dropmenubutton.TextOnlyMenuButtonNSkin" styleid="ddm1" style="visibility: visible; position: relative;" id="MnBttn5-ne5" dataquery="#c1660" comp="core.components.MenuButton" skinpart="repeaterButton">
									<div class="wysiwyg_viewer_skins_dropmenubutton_TextOnlyMenuButtonNSkinddm1-c-gapper">
										<div style="padding: 0px 21px;" skinpart="bg">
											<p style="line-height: 15px; width: auto;" class="wysiwyg_viewer_skins_dropmenubutton_TextOnlyMenuButtonNSkinddm1-label" skinpart="label">КОНТАКТЫ</p>
										</div>
									</div>
								</div>
							</div>