<div class="main_text" style="visibility: visible; left: 56px; top: 25px; width: 866px; min-height: 65px; position: absolute;"><h2 style="line-height: 1.4em; text-align: center;" class="font_2"><font color="#1a1a1a"><%= @title %></font></h2>
</div>
<div style="visibility: visible; left: 704px; top: 42px; min-width: 255px; min-height: 5px; position: absolute;" class="wysiwyg_viewer_skins_line_SolidLinehl3"></div>
<div style="visibility: visible; left: 704px; top: 67px; min-width: 255px; min-height: 5px; position: absolute;" class="wysiwyg_viewer_skins_line_SolidLinehl3"></div>
<div style="visibility: visible; left: 19px; top: 67px; min-width: 255px; min-height: 5px; position: absolute;" class="wysiwyg_viewer_skins_line_SolidLinehl3"></div>
<div style="visibility: visible; left: 19px; top: 42px; min-width: 255px; min-height: 5px; position: absolute;" class="wysiwyg_viewer_skins_line_SolidLinehl3"></div>