<div class="box-header"><h1>Фуршет</h1></div>
<% if notice %><p class="warning"><%= notice %></p><% end %>

<table>
  <tbody>
    <tr>
      <td><strong>Текст фуршета</strong></td>
      <td><%= @reception.content.html_safe %></td>
    </tr>
  </tbody>
</table>
<div class="action_bar">
<%= link_to 'Редактировать', edit_reception_path(@reception), class: "button" %>
<%= link_to 'Назад', receptions_path %>
</div>

