<div id="WRchTxt0-d5m" comp="wysiwyg.viewer.components.WRichText" dataquery="#1gzx" width="365" height="216" x="586" y="26" scale="1" angle="0" styleid="txtNew" skin="wysiwyg.viewer.skins.WRichTextNewSkin" class="wysiwyg_viewer_skins_WRichTextNewSkintxtNew" style="visibility: visible; left: 586px; top: 26px; width: 365px; min-height: 216px; position: absolute;">

<h6 style="line-height: 1.4em;" class="font_6"><span style="line-height: 1.4em;"><span color="color_0">LunchSity</span></span></h6>

<p style="line-height: 1.4em;" class="font_8">&nbsp;</p>

<p style="line-height: 1.4em;" class="font_8"><%= @contact.sitename%></p>

<p style="line-height: 1.4em;" class="font_8"><%= @contact.skype %></p>

<p style="line-height: 1.4em;" class="font_8"><span style="line-height: 1.4em;"><span color="color_0"><%= @contact.email%></span></span></p>

<p style="line-height: 1.4em;" class="font_8"><span style="line-height: 1.4em;"><span color="color_0">Tel: 123-456-7890<br>
Fax: 123-456-7890</span></span></p>
</div>

<div id="WPht4-83c" width="525" height="531"class="wysiwyg_viewer_skins_photo_RoundPhotowp1" style="visibility: visible; left: 30px; top: 30px; min-width: 525px; min-height: 531px; position: absolute;"><a class="wysiwyg_viewer_skins_photo_RoundPhotowp1-link" style="cursor: default;"><div class="wysiwyg_viewer_skins_photo_RoundPhotowp1-img skins_core_ImageNewSkin" style="visibility: visible; width: 523px; height: 529px;"><img class="skins_core_ImageNewSkin-image" alt="" src="//static.wixstatic.com/media/97acfd_701c2db650a10ba26a87277e65d90928.jpg_srz_p_523_529_75_22_0.50_1.20_0.00_jpg_srz" style="margin-top: 0px; margin-left: 0px; width: 523px; height: 529px;"></div></a></div>

