<% unless @lunch.nil? %><%= @lunch.content.html_safe %><% end %>
<% unless @file.nil? %><strong><p style="margin-bottom: 40px;">Скачать прайс-лист можно <%= get_download_link %>.</p></strong><% end %>
